body {
    font: normal 16px/1em ProximaNova;
    min-width: 320px;
}

a {
    text-decoration: none;
}

.main-container {
    max-width: 1170px;
    margin: 0 auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.main-container:after {
    content: "";
    clear: both;
    display: table;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/*
==========================================================
section-title & description
==========================================================
*/

.section-title {
    font: normal 200 44px/57px ProximaNova;
    color: #7d7d7d;
}

.section-title b {
    font-weight: 600;
    color: #000;
}

.description {
    font: normal 300 21px/30px ProximaNova;
    color: #8e8e8e;
}

.description b {
    font-weight: 600;
    color: #000;
}

/*
==========================================================
form & form elements
==========================================================
*/

button:focus,
input:focus,
input:focus,
a:focus {
    outline: none;
}

button,
input[type=submit] {
    -webkit-transition: -webkit-transform linear 0.2s;
    transition: -webkit-transform linear 0.2s;
    -o-transition: transform linear 0.2s;
    transition: transform linear 0.2s;
    transition: transform linear 0.2s, -webkit-transform linear 0.2s;
    cursor: pointer;
}

button:active,
input[type=submit]:active {
    -webkit-transform: translateY(2px);
    -ms-transform: translateY(2px);
    transform: translateY(2px);
}

.btn {
    height: 54px;
    width: 300px;
    display: block;
    margin: 0 auto;
    border: none;
    border-radius: 27px;
    font: 500 14px/1em ProximaNova;
    text-transform: uppercase;
}

input[type=text] {
    height: 49px;
    width: 100%;
    margin: 0;
    padding: 0 0 0 30px;
    display: block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: #535353;
    border: 2px solid #9a9a9a;
    border-radius: 24.5px;
    font: normal 300 16px/30px ProximaNova;
    color: #fff;
}

form input[type=submit] {
    width: 100%;
    background-color: rgb(0, 226, 128);
    -webkit-box-shadow: 0px 13px 21.6px 2.4px rgba(45, 118, 157, 0.24);
    box-shadow: 0px 13px 21.6px 2.4px rgba(45, 118, 157, 0.24);
    color: #fff;
}

input[type=text]:focus {
    border: 2px solid #ddd;
}

form input[type=text]:first-of-type {
    margin: 0 0 15px 0;
}

form input[type=text]:nth-of-type(2) {
    margin: 0 0 30px 0;
}

/*
==========================================================
popup windows
==========================================================
*/

.modal {
    width: 100%;
    height: 100%;
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    overflow-y: auto;
}

.modal-content {
    max-width: 760px;
    margin: 100px auto 0 auto;
    padding: 120px 0 130px 0;
    position: relative;
    background-color: #f4f6f8;
    border: 1px solid #626262;
}

.close {
    position: absolute;
    top: 40px;
    right: 40px;
    cursor: pointer;
}

.modal .description {
    max-width: 560px;
    margin: 0 auto 60px auto;
    font: normal 500 28px/1em ProximaNova;
    text-align: center;
    color: #000;
}

#diaryOrderModal .description {
    max-width: 440px;
}

.modal form {
    max-width: 400px;
    margin: 0 auto;
}

.modal input[type=text] {
    background: #f5f7f9;
    border: 2px solid #abacad;
    color: #000;
}

.modal input[type=text]:focus {
    border: 2px solid #6e6e6f;
}

#thanksModal .short-description {
    max-width: 480px;
    margin: 0 auto;
    font: normal 400 18px/24px ProximaNova;
    text-align: center;
}

/*
==========================================================
certificate popup
==========================================================
*/

#certificateModal {
    padding: 0;
    background: rgba(0, 0, 0, 0.4);
}

#certificateModal .modal-content {
    padding: 0;
    background: transparent;
    border: none;
}

#certificateModal .close {
    top: 40px;
    right: 40px;
}

#certificateModalImg {
    display: block;
    margin: 100px auto 0;
    padding: 0;
    border-radius: 25px;
}