/* 
==========================================================
header
==========================================================
*/

@media screen and (max-width: 1023px) {
    #logo {
        display: none;
    }
    #callHeader {
        margin: 0;
        padding: 30px 0;
        float: none;
    }
    #callLink {
        float: left;
    }
    #openCallOrderModal {
        display: block;
        float: right;
    }
    #callLink {
        text-align: center;
    }
    header {
        padding: 0 40px;
    }
}

@media screen and (max-width: 767px) {
    #callHeader {
        display: block;
        float: none;
        padding: 20px 0;
        margin: 0;
        text-align: center;
    }
    #callLink,
    #openCallOrderModal {
        float: none;
        margin: 0 auto;
    }
}

/* 
==========================================================
banner
==========================================================
*/

@media screen and (max-width: 1649px) {
    #banner .content {
        margin: 0 0 0 20%;
    }
}

@media screen and (max-width: 1365px) {
    #banner {
        background-position: 65% 50%;
    }
    #banner .content {
        margin: 0 0 0 15%;
    }
}

@media screen and (max-width: 768px) {
    #banner {
        padding: 80px 0 150px;
        background-position: 65% 50%;
    }
    #banner .content {
        margin: 0 40px 0 40px;
    }
    #bannerVerticalList {
        margin: 0 0 30px 0;
    }
    #proposition {
        max-width: 400px;
        margin: 0 0 50px 50px;
    }
}

@media screen and (max-width: 767px) {
    #banner {
        padding: 30px 0 50px;
        background: #f0f1f6;
    }
    #banner h1 {
        margin: 0px 0 30px 0;
        font: 200 36px/45px ProximaNova;
    }
    #proposition {
        margin: 0 0 45px 50px;
    }
    #bannerHorizontalList li:first-of-type::after,
    #bannerHorizontalList li {
        display: block;
    }
    #bannerHorizontalList li {
        margin: 10px 0;
    }
    #bannerHorizontalList {
        padding: 0 0 0 40px;
        margin: 0 0 25px 0;
    }
    #bannerVerticalList {
        margin: 0 0 10px 0;
    }
    #openDiaryOrderModal {
        margin: 0 auto;
    }
}

@media screen and (max-width: 424px) {
    #banner .content {
        margin: 0 20px 0 20px;
    }
    #banner h1 {
        margin: 0 0 27px 0;
        font: 200 30px/37px ProximaNova;
    }
}

/* 
==========================================================
BENEFITS
==========================================================
*/

@media screen and (max-width: 1365px) {
    #benefits {
        padding: 0 0 105px 0;
    }
    #benefits .main-container {
        padding: 40px 40px 0px 40px;
    }
    #benefits .prewords {
        margin: 0 auto 60px auto;
        max-width: 530px;
    }
    #benefitsContainer .item {
        height: 280px;
        width: 32%;
        margin: 0 0 20px 0;
    }
    #benefitsContainer .item:nth-of-type(3n + 2) {
        margin: 0 2% 20px 2%;
    }
    #benefitsContainer .title {
        top: 30px;
        right: 20px;
        font: 300 18px/30px ProximaNova;
    }
    #benefitsContainer a.more {
        right: 20px;
        top: 100px;
    }
}

@media screen and (max-width: 1023px) {
    #benefits {
        padding: 0 0 80px 0;
    }
    #benefitsContainer .item {
        width: 49%;
    }
    #benefitsContainer .item:nth-of-type(n) {
        margin: 0 0 2% 0;
    }
    #benefitsContainer .item:nth-of-type(2n + 1) {
        margin: 0 2% 2% 0;
    }
}

@media screen and (max-width: 767px) {
    #benefits {
        padding: 0 0 80px 0;
    }
    #benefits .main-container {
        padding: 60px 20px 0 20px;
    }
    #benefitsContainer .item {
        width: 100%;
    }
    #benefitsContainer .item:nth-of-type(n) {
        margin: 0 0 20px 0;
    }
    #benefits .prewords {
        margin: 0 auto 60px auto;
        font: 200 18px/27px ProximaNova;
    }
}

/* 
==========================================================
getInsAndOutBanner
==========================================================
*/

@media screen and (max-width: 1365px) {
    #getInsAndOutBanner {
        padding: 0 40px 115px 40px;
    }
    #getInsAndOutBanner .main-container {
        padding: 55px 20px 55px 20px;
    }
}

@media screen and (max-width: 767px) {
    #getInsAndOutBanner {
        padding: 0 0 75px 0;
    }
    #getInsAndOutBanner .description {
        margin: 20px 0 20px 0;
        font: normal 300 20px/26px ProximaNova;
    }
}

/* 
==========================================================
quoteAndVideo
==========================================================
*/

@media screen and (max-width: 1365px) {
    #quoteAndVideo {
        padding: 120px 0 115px 0;
    }
    #quoteAndVideo .main-container {
        padding: 0 40px 0 40px;
    }
    .quote,
    #quoteAndVideo .video {
        float: none;
        margin: 0 auto;
    }
    .quote {
        margin: 0 auto 40px auto;
    }
}

@media screen and (max-width: 767px) {
    #quoteAndVideo {
        padding: 80px 0 95px 0;
    }
    #quoteAndVideo .main-container {
        padding: 0 20px 0 20px;
    }
    #quoteAndVideo .video {
        width: 100%;
    }
    .video-link {
        left: 30%;
    }
    .quote {
        height: 360px;
        width: 260px;
        padding: 30px 10px 0 10px;
        background: no-repeat top/150% url("../images/quote.png");
    }
    .quote p {
        width: 230px;
        font: normal 300 16px/1.33em ProximaNova;
        text-align: center;
        color: #686868;
    }
    .quote p b {
        font: normal 500 16px/1.33em ProximaNova;
    }
}

/* 
==========================================================
services
==========================================================
*/

@media screen and (max-width: 1365px) {
    #services {
        padding: 100px 40px 140px 40px;
    }
}

@media screen and (max-width: 1200px) {
    .services-list .item:nth-of-type(n) {
        margin: 0 0 0 0;
    }
    #services .section-title {
        margin: 0 0 40px 0;
    }
}

@media screen and (max-width: 768px) {
    #services {
        background-position: -660px 0px;
    }
}

@media screen and (max-width: 767px) {
    #services {
        padding: 80px 20px 60px 20px;
    }
    .services-list .content {
        height: auto;
        width: 85%;
        background: #00e481;
        border-radius: 15px;
    }
    .services-list .item:nth-of-type(n) .content {
        padding: 20px 20px 20px 20px;
    }
    .services-list .number {
        width: 15%;
        padding: 0;
    }
    .services-list .content p {
        margin: 0;
    }
    .services-list .item:nth-of-type(n) {
        margin: 20px 0;
    }
}

/* 
==========================================================
achievemnts
==========================================================
*/

@media screen and (max-width: 1365px) {
    #achievements {
        padding: 115px 40px 100px 40px;
        background: #f4f6f8;
    }
}

@media screen and (max-width: 1200px) {
    .achievements-list .column-1,
    .achievements-list .column-2 {
        float: none;
        width: 100%;
    }
    .achievements-list .item {
        padding: 15px 0 15px 65px;
    }
}

@media screen and (max-width: 767px) {
    #achievements {
        padding: 80px 20px 70px 20px;
        background: #f4f6f8;
    }
    #achievements .section-title {
        margin: 0 0 30px;
    }
    .achievements-list {
        margin: 0 0 40px 0;
    }
    .achievements-list .item {
        padding: 5px 0 5px 40px;
    }
    .achievements-list p::before {
        left: -40px;
    }
}

/* 
==========================================================
TOOLS
==========================================================
*/

@media screen and (max-width: 1365px) {
    #tools {
        padding: 80px 40px 50px 40px;
    }
    .tools-list .item {
        float: none;
        margin: 0 0 0 50px;
    }
    .tools-list .item p {
        max-width: 520px;
        margin: 27px 0 0 40px;
    }
}

@media screen and (max-width: 1199px) {
    .tools-list .item {
        margin: 0 0 0 20px;
    }
    .tools-list .item p {
        max-width: 60%;
        margin: 20px 0 0 40px;
    }
    .tools-list .item img {
        height: 80px;
        width: 80px;
    }
}

@media screen and (max-width: 767px) {
    #tools {
        padding: 80px 20px 50px 20px;
    }
    .tools-list .item {
        margin: 0 0 0 0;
    }
    .tools-list .item p {
        max-width: 300px;
        margin: 10px 0 0 40px;
    }
    #tools .description {
        margin: 0 0 50px 0;
    }
}

@media screen and (max-width: 550px) {
    .tools-list .item {
        margin: 0 0 10px 0;
    }
    .tools-list .item img,
    .tools-list .item p {
        float: none;
    }
    .tools-list .item img {
        display: block;
        margin: 0 auto;
    }
    .tools-list .item p {
        max-width: 100%;
        margin: 0 0 30px 0;
        text-align: center;
    }
}

/* 
==========================================================
PROOFS
==========================================================
*/

@media screen and (max-width: 1366px) {
    #proofs {
        padding: 100px 0 90px 0;
        background-position-x: 25%;
    }
    #proofs .main-container {
        padding: 0 0 0 38%;
    }
}

@media screen and (max-width: 768px) {
    #proofs {
        background: no-repeat right/cover url("../images/sectionBg3.png");
    }
    #proofs .main-container {
        padding: 0 40px 0 40px;
    }
    .proofs-list .item {
        padding: 15px 0 15px 65px;
    }
}

@media screen and (max-width: 767px) {
    #proofs {
        padding: 80px 0 70px 0;
    }
    #proofs .main-container {
        padding: 0 20px 0 20px;
    }
    #proofs .section-title {
        margin: 0 0 30px 0;
    }
    .proofs-list .item {
        padding: 5px 0 5px 40px;
    }
    .proofs-list p::before {
        left: -40px;
    }
}

/* 
==========================================================
orderAppointmentBanner
==========================================================
*/

@media screen and (max-width: 1365px) {
    #orderAppointmentBanner {
        padding: 100px 40px 166px 40px;
    }
    #orderAppointmentBanner .main-container {
        padding: 65px 40px 0 40px;
    }
}

@media screen and (max-width: 425px) {
    #orderAppointmentBanner {
        padding: 80px 20px 95px 20px;
    }
    #orderAppointmentBanner .main-container {
        padding: 65px 20px 0 20px;
    }
    #orderAppointmentBanner .description {
        font: normal 500 18px/30px ProximaNova;
    }
}

@media screen and (max-width: 375px) {
    #orderAppointmentButton2 {
        width: 220px;
    }
}

/* 
==========================================================
certificates
==========================================================
*/

@media screen and (max-width: 1365px) {
    #certificates {
        padding: 0 40px 140px 40px;
    }
    #certificates .section-title {
        margin: 0 0 30px 0;
    }
}

@media screen and (max-width: 767px) {
    .sertificates-slider {
        margin: 0;
    }
    .sertificates-slider .slick-slide {
        height: 460px;
        width: 300px;
    }
}

@media screen and (max-width: 475px) {
    #certificates {
        padding: 0 20px 140px 20px;
    }
    .sertificates-slider .slick-slide {
        height: 400px;
        width: 250px;
    }
}

/* 
==========================================================
partners
==========================================================
*/

@media screen and (max-width: 1365px) {
    #partners {
        padding: 120px 40px 170px 40px;
        background: #f4f6f8;
    }
}

@media screen and (max-width: 1200px) {
    #partners {
        padding: 80px 40px 40px 40px;
    }
    .partners-list .item {
        width: 50%;
        margin: 0 0 50px 0;
    }
}

@media screen and (max-width: 767px) {}

@media screen and (max-width: 550px) {
    .partners-list .item {
        width: 100%;
        margin: 0 0 50px 0;
    }
}

/* 
==========================================================
stories
==========================================================
*/

@media screen and (max-width: 1365px) {
    #stories {
        padding: 135px 40px 185px 40px;
    }
}

@media screen and (max-width: 767px) {
    #stories {
        padding: 80px 20px 140px 40px;
    }
}

/* 
==========================================================
footer
==========================================================
*/

@media screen and (max-width: 1720px) {
    footer {
        padding: 100px 4.7% 100px;
    }
    #contacts .content,
    #contacts .social {
        float: none;
    }
    #contacts .content {
        margin: 0 0 50px 0;
    }
}

@media screen and (max-width: 1649px) {
    footer .description {
        max-width: 360px;
    }
}

@media screen and (max-width: 1365px) {
    footer {
        padding: 100px 40px 100px 40px;
    }
    footer .description {
        max-width: 200px;
    }
}

@media screen and (max-width: 1199px) {
    footer .description {
        max-width: 900px;
        margin: 0 50px 50px 0;
    }
}

@media screen and (max-width: 1000px) {
    footer {
        padding: 100px 40px 80px 40px;
    }
    footer .description,
    #footerForm,
    #contacts {
        float: none;
        margin: 0 auto;
    }
    footer .description {
        margin: 0 auto 40px;
    }
    #footerForm {
        margin: 0 auto 60px;
    }
    #contacts {
        max-width: 370px;
        margin: 0 auto 30px auto;
    }
}

@media screen and (max-width: 767px) {
    #footerForm {
        width: 100%;
    }
    .social a {
        margin: auto 20px auto 0;
    }
    .social {
        margin: 0 auto 0 auto;
        max-width: 210px;
    }
}

@media screen and (max-width: 375px) {
    footer {
        padding: 100px 20px 80px 20px;
    }
}

/* 
==========================================================
common
==========================================================
*/

@media screen and (max-width: 768px) {
    .btn {
        width: 260px;
        height: 45px;
        font: 600 13px/1em ProximaNova;
    }
    .section-title {
        font: normal 200 36px/45px ProximaNova;
        color: #7d7d7d;
    }
    .section-title b {
        font-weight: 600;
        color: #000;
    }
    .description {
        font: normal 300 18px/25px ProximaNova;
        color: #8e8e8e;
    }
    .description b {
        font-weight: 600;
        color: #000;
    }
}

@media screen and (max-width: 767px) {
    .btn {
        font: 600 12px/1em ProximaNova;
    }
    .section-title {
        font: normal 200 30px/40px ProximaNova;
        color: #7d7d7d;
    }
    .section-title b {
        font-weight: 600;
        color: #000;
    }
    .description {
        font: normal 300 16px/20px ProximaNova;
        color: #8e8e8e;
    }
    .description b {
        font-weight: 600;
        color: #000;
    }
    /* 
    
    modal

    */
    .modal-content {
        margin: 0px 0 0 0;
        padding: 130px 0 130px 0;
    }
    .modal form {
        padding: 0 20px;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }
    .modal .description {
        font: normal 500 20px/1em ProximaNova;
    }
    /* 
    
    certificate modal

    */
}

/* 
    
    certificate modal

    */

@media screen and (max-width: 900px) {
    #certificateModalImg {
        width: 80%;
    }
}