@import "fonts.css";
@import "common.css";
/* 
==========================================================
header
==========================================================
*/

header {
    min-height: 100px;
    padding: 0 4.7%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: 0px 6px 21.6px 2.4px rgba(45, 118, 157, 0.08);
    box-shadow: 0px 6px 21.6px 2.4px rgba(45, 118, 157, 0.08);
}

#logo {
    margin: 20px 0;
    float: left;
    font: normal 60px/1em ProximaNova;
}

#callHeader {
    margin: 30px 0 0 0;
    float: right;
}

#callLink,
#openCallOrderModal {
    float: left;
}

#callLink {
    margin: 0 110px 0 0;
    font: normal 18px/38px ProximaNova;
    color: #000;
    text-decoration: none;
}

#openCallOrderModal {
    height: 38px;
    width: 195px;
    border-radius: 19px;
    border: 2px solid rgba(26, 50, 175, 0.22);
    background: none;
    font: 600 13px/1em ProximaNova;
    color: #363636;
    text-transform: uppercase;
}

/* 
==========================================================
BANNER
==========================================================
*/

#banner {
    padding: 160px 0 260px;
    background: no-repeat center/cover url("../images/banner.jpg");
}

#banner .content {
    margin: 0 20px 0 27%;
}

#banner h1 {
    margin: 0 0 27px 0;
    font: 200 44px/57px ProximaNova;
}

#banner h1 b {
    font-weight: 600;
}

#bannerHorizontalList {
    margin: 0 0 45px 0;
    padding: 0;
    font: normal 20px/1em ProximaNova;
    color: #4da7ea;
    list-style: none;
}

#bannerHorizontalList li {
    display: inline-block;
    position: relative;
    margin: 0 50px 0 0;
}

#bannerHorizontalList li::after {
    height: 8px;
    width: 8px;
    position: absolute;
    top: 5.5px;
    left: -32px;
    content: "";
    display: block;
    background: no-repeat center/cover url("../images/list-icon-circle.png");
}

#bannerHorizontalList li:first-of-type::after {
    display: none;
}

#bannerVerticalList {
    padding: 0 0px 0px 22px;
    margin: 0 0 60px 0;
    list-style-image: url(../images/list-icon.png);
    font: italic normal 16px/1em ProximaNova;
}

#bannerVerticalList li {
    padding: 0 0px 20px 7px;
}

#proposition {
    margin: 0 0 50px 0;
    font: italic 500 18px/1em ProximaNova;
    position: relative;
}

#proposition::before {
    height: 2px;
    width: 31px;
    position: absolute;
    top: 7px;
    left: -50px;
    content: "";
    display: block;
    background-color: #0092ff;
}

#openDiaryOrderModal {
    background-color: rgb(0, 226, 128);
    -webkit-box-shadow: 0px 13px 21.6px 2.4px rgba(45, 118, 157, 0.24);
    box-shadow: 0px 13px 21.6px 2.4px rgba(45, 118, 157, 0.24);
    color: #fff;
    margin: 0;
}

/* 
==========================================================
BENEFITS
==========================================================
*/

#benefits {
    padding: 0 0 105px 0;
}

#benefits .main-container {
    padding: 90px 0 0 0;
}

#benefits .prewords {
    margin: 0 0 90px 0;
    font: 200 21px/30px ProximaNova;
    text-align: center;
    color: #676767;
}

#benefits .prewords b {
    font-weight: 500;
    color: #000;
}

#benefitsContainer .item {
    height: 370px;
    width: 370px;
    margin: 0 0 30px 0;
    position: relative;
    float: left;
    overflow: hidden;
    border-radius: 10px;
    -webkit-box-shadow: 0px 6px 21.6px 2.4px rgba(45, 118, 157, 0.08);
    box-shadow: 0px 6px 21.6px 2.4px rgba(45, 118, 157, 0.08);
}

#benefitsContainer .item .popup-text {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 20px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    top: 0;
    left: 0;
    font: 400 14px/16px ProximaNova;
    -webkit-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%);
    -webkit-transform-origin: 50% 100%;
    -ms-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-transition: -webkit-transform 0.3s linear;
    transition: -webkit-transform 0.3s linear;
    -o-transition: transform 0.3s linear;
    transition: transform 0.3s linear;
    transition: transform 0.3s linear, -webkit-transform 0.3s linear;
    background: rgba(255, 255, 255, 0.9);
    position: absolute;
    -webkit-box-shadow: 0px 6px 21.6px 2.4px rgba(45, 118, 157, 0.08);
    box-shadow: 0px 6px 21.6px 2.4px rgba(45, 118, 157, 0.08);
}

#benefitsContainer .item:hover .popup-text {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
}

#benefitsContainer .item:nth-of-type(3n+2) {
    margin: 0 30px 30px 30px;
}

#benefitsContainer .item:nth-of-type(1) {
    background: no-repeat center/cover url("../images/ben1.jpg");
}

#benefitsContainer .item:nth-of-type(2) {
    background: no-repeat center/cover url("../images/ben2.jpg");
}

#benefitsContainer .item:nth-of-type(3) {
    background: no-repeat center/cover url("../images/ben3.jpg");
}

#benefitsContainer .item:nth-of-type(4) {
    background: no-repeat center/cover url("../images/ben4.jpg");
}

#benefitsContainer .item:nth-of-type(5) {
    background: no-repeat center/cover url("../images/ben5.jpg");
}

#benefitsContainer .item:nth-of-type(6) {
    background: no-repeat center/cover url("../images/ben6.jpg");
}

#benefitsContainer .title {
    position: absolute;
    top: 50px;
    right: 30px;
    font: 300 20px/30px ProximaNova;
    text-align: right;
}

#benefitsContainer .title b {
    font-weight: 600;
}

#benefitsContainer .item:nth-of-type(1) .title,
#benefitsContainer .item:nth-of-type(3) .title,
#benefitsContainer .item:nth-of-type(6) .title {
    color: #000;
}

#benefitsContainer .item:nth-of-type(2) .title,
#benefitsContainer .item:nth-of-type(4) .title,
#benefitsContainer .item:nth-of-type(5) .title {
    color: #fff;
}

#benefitsContainer a.more {
    display: none;
    position: absolute;
    right: 30px;
    top: 142px;
    font: normal 400 12px/1em ProximaNova;
    text-transform: uppercase;
    text-decoration: none;
}

#benefitsContainer a.more::after {
    height: 1px;
    width: 71px;
    margin-left: 1px;
    content: "";
    display: block;
    background-color: #a8a39f;
}

#benefitsContainer .item:nth-of-type(1) a.more {
    color: #97b5cd;
}

#benefitsContainer .item:nth-of-type(1) a.more::after {
    background-color: #97b5cd;
}

#benefitsContainer .item:nth-of-type(2) a.more {
    color: #e299b9;
}

#benefitsContainer .item:nth-of-type(2) a.more::after {
    background-color: #e299b9;
}

#benefitsContainer .item:nth-of-type(3) a.more {
    color: #a8a39f;
}

#benefitsContainer .item:nth-of-type(3) a.more::after {
    background-color: #a8a39f;
}

#benefitsContainer .item:nth-of-type(4) a.more {
    color: #c7d9e8;
}

#benefitsContainer .item:nth-of-type(4) a.more::after {
    background-color: #c7d9e8;
}

#benefitsContainer .item:nth-of-type(5) a.more {
    color: #ddecec;
}

#benefitsContainer .item:nth-of-type(5) a.more::after {
    background-color: #ddecec;
}

#benefitsContainer .item:nth-of-type(6) a.more {
    color: #a8a39f;
}

#benefitsContainer .item:nth-of-type(6) a.more::after {
    background-color: #a8a39f;
}

/* 
==========================================================
getInsAndOutBanner
==========================================================
*/

#getInsAndOutBanner {
    padding: 0 0 165px 0;
}

#getInsAndOutBanner .main-container {
    padding: 85px 0;
    background: no-repeat center/cover url("../images/getInsAndOutBanner.jpg");
}

#getInsAndOutBanner .description {
    max-width: 745px;
    margin: 0 auto 50px auto;
    font: normal 300 30px/32px ProximaNova;
    text-align: center;
    color: #fff;
}

#getInsAndOutBanner b {
    font-weight: 600;
    color: #fff;
}

#getInsAndOutButton {
    background: #fff;
    color: #0ce386;
}

/* 
==========================================================
quoteAndVideo
==========================================================
*/

#quoteAndVideo {
    padding: 160px 0 105px 0;
    background: no-repeat top/cover url("../images/sectionBg1.jpg");
}

#quoteAndVideo .section-title {
    margin: 0 0 40px 0;
}

.quote,
.video {
    float: left;
}

.quote {
    height: 450px;
    width: 450px;
    margin: 0 0 0 -20px;
    padding: 95px 62px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: no-repeat center/cover url("../images/quote.png");
}

.quote p {
    width: 325px;
    font: normal 300 18px/1.33em ProximaNova;
    text-align: center;
    color: #686868;
}

.quote p b {
    font-weight: 500;
    color: #000;
}

#quoteAndVideo .video {
    height: 370px;
    width: 670px;
    margin: 30px 0 0 70px;
    position: relative;
    border-radius: 10px;
    background: no-repeat center/cover url("../images/video.jpg");
    -webkit-box-shadow: 0px 6px 21.6px 2.4px rgba(45, 118, 157, 0.08);
    box-shadow: 0px 6px 21.6px 2.4px rgba(45, 118, 157, 0.08);
}

.video-link {
    height: 114px;
    width: 114px;
    position: absolute;
    top: 128px;
    left: 276px;
    display: block;
    background: no-repeat center/cover url("../images/play-button.png");
}

/* 
==========================================================
services
==========================================================
*/

#services {
    padding: 130px 0 190px 0;
    background: no-repeat center/cover url("../images/sectionBg2.jpg");
}

#services .section-title {
    margin: 0 0 100px 0;
}

.services-list .item {
    overflow: hidden;
}

.services-list .number,
.services-list .content {
    float: left;
}

.services-list .number {
    padding: 24px 25px;
    float: left;
    font: normal 500 44px/1.23em ProximaNova;
}

.services-list .content {
    height: 110px;
    width: 570px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 31px 0 0 50px;
    background: no-repeat center/cover url("../images/servicesItemBg.png");
    font: normal 400 18px/1em ProximaNova;
    color: #fff;
}

.services-list .content p {
    max-width: 460px;
    margin: 0;
}

.services-list .item:nth-of-type(1) {
    margin: 0 0 0 530px;
}

.services-list .item:nth-of-type(2) {
    margin: 0px 0 0 430px;
}

.services-list .item:nth-of-type(3) {
    margin: 0 0 0 330px;
}

.services-list .item:nth-of-type(4) {
    margin: 0 0 0 230px;
}

.services-list .item:nth-of-type(5) {
    margin: 0 0 0 130px;
}

.services-list .item:nth-of-type(6) {
    margin: 0 0 0 30px;
}

.services-list .item:nth-of-type(1) .content {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 31px 0 0 50px;
}

.services-list .item:nth-of-type(2) .content {
    padding: 32px 0 0 50px;
}

.services-list .item:nth-of-type(3) .content {
    padding: 40px 0 0 50px;
}

.services-list .item:nth-of-type(4) .content {
    padding: 40px 0 0 50px;
}

.services-list .item:nth-of-type(5) .content {
    padding: 40px 0 0 50px;
}

.services-list .item:nth-of-type(6) .content {
    padding: 31px 0 0 50px;
}

/* 
==========================================================
achievemnts
==========================================================
*/

#achievements {
    padding: 115px 0 100px 0;
    background: #f4f6f8;
}

#achievements .section-title {
    margin: 0 0 55px;
}

.achievements-list {
    margin: 0 0 60px 0;
}

.achievements-list .column-1,
.achievements-list .column-2 {
    float: left;
}

.achievements-list .column-1 {
    width: 60%;
}

.achievements-list .column-2 {
    width: 40%;
}

.achievements-list .item {
    padding: 30px 0 30px 65px;
}

.achievements-list .item p {
    margin: 0 0 0 0;
    position: relative;
    line-height: 24px;
}

.achievements-list p::before {
    content: "";
    display: block;
    height: 23px;
    width: 25px;
    position: absolute;
    top: 0px;
    left: -65px;
    background: no-repeat center/cover url("../images/list-icon2.png");
}

#orderAppointmentButton {
    background-color: rgb(0, 226, 128);
    -webkit-box-shadow: 0px 13px 21.6px 2.4px rgba(45, 118, 157, 0.24);
    box-shadow: 0px 13px 21.6px 2.4px rgba(45, 118, 157, 0.24);
    color: #fff;
}

/* 
==========================================================
TOOLS
==========================================================
*/

#tools {
    padding: 150px 0 100px 0;
}

#tools .section-title {
    margin: 0 0 41px 0;
}

#tools .description {
    margin: 0 0 80px 0;
    max-width: 880px;
}

.tools-list .item {
    overflow: hidden;
    float: left;
    margin: 27px 0 27px 50px;
}

.tools-list .item img,
.tools-list .item p {
    float: left;
}

.tools-list .item img {
    float: left;
    height: 111px;
    width: 111px;
}

.tools-list .item p {
    max-width: 360px;
    margin-left: 40px;
    font: normal 500 18px/24px ProximaNova;
}

/* 
==========================================================
PROOFS
==========================================================
*/

#proofs {
    padding: 113px 0 100px 0;
    background: no-repeat center/cover url("../images/sectionBg3.png");
}

#proofs .main-container {
    padding: 0 0 0 30%;
}

#proofs .section-title {
    margin: 0 0 40px 0;
}

#proofs .description {
    margin: 0 0 34px 0px;
}

.proofs-list .item {
    padding: 22px 0 22px 65px;
}

.proofs-list .item p {
    margin: 0 0 0 0;
    font: normal 400 18px/23px ProximaNova;
    position: relative;
}

.proofs-list p::before {
    content: "";
    display: block;
    height: 23px;
    width: 25px;
    position: absolute;
    top: 0px;
    left: -65px;
    background: no-repeat center/cover url(../images/list-icon2.png);
}

/* 
==========================================================
orderAppointmentBanner
==========================================================
*/

#orderAppointmentBanner {
    padding: 100px 0 166px 0;
}

#orderAppointmentBanner .main-container {
    padding: 65px 0 0 0;
    border: 2px dashed rgb(232, 232, 232);
    border-radius: 10px;
}

#orderAppointmentBanner .description {
    font: normal 500 21px/30px ProximaNova;
    text-align: center;
}

#orderAppointmentBanner mark {
    background: none;
    color: #0092ff;
}

#orderAppointmentButton2 {
    margin: 47px auto 60px;
    background-color: rgb(0, 226, 128);
    -webkit-box-shadow: 0px 13px 21.6px 2.4px rgba(45, 118, 157, 0.24);
    box-shadow: 0px 13px 21.6px 2.4px rgba(45, 118, 157, 0.24);
    color: #fff;
}

/* 
==========================================================
certificates
==========================================================
*/

#certificates {
    padding: 0 0 140px 0;
}

#certificates .section-title {
    margin: 0 0 50px 0;
}

.sertificates-slider .slick-slide {
    height: 540px;
    width: 365px;
    padding: 30px 0;
    margin: 0 30px 0 0;
}

.sertificates-slider {
    margin: 0 0 0 -15px;
}

.sertificates-slider img {
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 13px 3px rgba(45, 118, 157, 0.08);
    box-shadow: 0px 0px 13px 3px rgba(45, 118, 157, 0.08);
    width: 100%;
}

.sertificates-slider .top-image {
    margin: -10px 0 15px 0;
}

.sertificates-slider .slick-dots {
    bottom: -43px;
}

.slick-dots li button:before {
    font-size: 7px;
    color: #b0b0b0;
}

.slick-dots li.slick-active button:before {
    font-size: 15px;
    color: #0ce386;
}

/* 
==========================================================
partners
==========================================================
*/

#partners {
    padding: 120px 0 170px 0;
    background: #f4f6f8;
}

#partners .section-title {
    margin: 0 0 70px 0;
}

#partners .description {
    margin: 0 0 70px 0;
}

.partners-list .item {
    width: 25%;
    float: left;
    text-align: center;
}

/* 
==========================================================
stories
==========================================================
*/

#stories {
    padding: 135px 0 185px 0;
}

#stories .section-title {
    margin: 0px 0 32px 0;
}

#stories .description {
    max-width: 780px;
    margin: 0 0 55px 0;
}

.video-slider {
    margin: 0 0 0 -15px;
}

.video-slider .item {
    height: 370px;
    position: relative;
    border-radius: 10px;
    -webkit-box-shadow: 0px 6px 21.6px 2.4px rgba(45, 118, 157, 0.08);
    box-shadow: 0px 6px 21.6px 2.4px rgba(45, 118, 157, 0.08);
}

.video-slider .item img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 10px;
}

.video-slider .slick-slide {
    border-radius: 10px;
    width: 600px;
    padding: 15px 15px 15px 15px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

#stories .video-link {
    height: 90px;
    width: 90px;
    position: absolute;
    top: 140px;
    left: 240px;
    display: block;
    background: no-repeat center/cover url("../images/play-button.png");
}

#stories .slick-dots {
    bottom: -60px;
}

/* 
==========================================================
footer 
==========================================================
*/

footer {
    padding: 100px 4.7% 100px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: #4b4b4b;
}

footer .description,
#footerForm,
#contacts {
    float: left;
}

footer .description {
    max-width: 430px;
    margin: 0 50px 0 0;
    font: normal 300 21px/30px ProximaNova;
    color: #dedede;
}

footer .description b {
    font-weight: 400;
    color: #ffffff;
}

#footerForm {
    width: 370px;
    margin: 0 100px 0 0;
}

#footerFormSend {
    background-color: rgb(0, 226, 128);
    -webkit-box-shadow: 0px 13px 21.6px 2.4px #444;
    box-shadow: 0px 13px 21.6px 2.4px #444;
    color: #fff;
}

#contacts .content,
#contacts .social {
    float: left;
}

#contacts .content {
    margin-right: 145px;
}

#contacts .email {
    margin: 0 0 30px 0;
    display: block;
    font: normal 400 21px/1 ProximaNova;
    color: #eeeeee;
}

#contacts .email::after {
    height: 1px;
    width: 260px;
    margin-left: 1px;
    content: "";
    display: block;
    background-color: #eeeeee;
}

#contacts .tel {
    margin: 0 0 30px 0;
    display: block;
    font: normal 500 16px/1 ProximaNova;
    color: #ffffff;
}

#contacts .address {
    font: normal 300 16px/1 ProximaNova;
    color: #dedede;
}

.social {
    max-width: 300px;
}

.social a {
    margin: 0px 40px 0 0;
    color: #fff;
    font-size: 24px;
}

.social a i {
    -webkit-transition: -webkit-transform linear 0.2s;
    transition: -webkit-transform linear 0.2s;
    -o-transition: transform linear 0.2s;
    transition: transform linear 0.2s;
    transition: transform linear 0.2s, -webkit-transform linear 0.2s;
}

.social a i:hover {
    -webkit-transform: translateY(2px);
    -ms-transform: translateY(2px);
    transform: translateY(2px);
    color: rgb(0, 226, 128);
}

.social a:last-of-type {
    margin: 0;
}